In [2]:
base_url = "https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page="
base_url2 = "&cy=NL&atype=C&fc="
base_url3 = "&qry=&"
page_urls = []


for counter in range(1, 21):
    full_url = base_url + str(counter) + base_url2 + str(counter) + base_url3 
    page_urls.append(full_url)
        
print(page_urls)

['https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=1&cy=NL&atype=C&fc=1&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=2&cy=NL&atype=C&fc=2&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=3&cy=NL&atype=C&fc=3&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=4&cy=NL&atype=C&fc=4&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=5&cy=NL&atype=C&fc=5&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=6&cy=NL&atype=C&fc=6&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=7&cy=NL&atype=C&fc=7&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=8&cy=NL&atype=C&fc=8&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=9&cy=NL&atype=C&fc=9&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=10&cy=NL&atype=C&fc=10&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=11&cy=NL&atype=C&fc=11&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=12&cy=NL&atype=C&fc=12&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=13&cy=NL&atype=C&fc=13&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=14&cy=NL&atype=C&fc=14&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=15&cy=NL&atype=C&fc=15&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=16&cy=NL&atype=C&fc=16&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=17&cy=NL&atype=C&fc=17&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=18&cy=NL&atype=C&fc=18&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=19&cy=NL&atype=C&fc=19&qry=&', 'https://www.autoscout24.nl/lst/?sort=standard&desc=0&fuel=B%2CE&ustate=N%2CU&size=20&page=20&cy=NL&atype=C&fc=20&qry=&']

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep

In [21]:
#Declaring the headers 
headers = {"Accept-Language": "en-US,en;q=0.5"}

#Declaring the list of empty variables, So that we can append the data overall
car_name = []
car_price = []
car_km  = []
car_year = []
car_owners = []
car_condition = []
car_selleraddress = []
car_seller = []

#creating an array of values and passing it in the url for dynamic webpages
pages = np.arange(1,20,1)

In [47]:
#the whole core of the script
for page in pages:
    page = requests.get("https://www.autoscout24.nl/lst/?sort=price&desc=1&fuel=E&ustate=N%2CU&size=20&page="+str(page)+"&cy=NL&fregto=2016&fregfrom=2011&atype=C&fc=7&qry=&recommended_sorting_based_id=4b59d5cf-666e-4c05-a7cf-9e35fa04d91d&")
    soup = BeautifulSoup(page.text, 'html.parser')
    autoscout_data = soup.findAll('div', attrs = {'class': "cl-list-element cl-list-element-gap"})
    sleep(5)
    for store in autoscout_data:
        name = store.find("h2", {"class": "cldt-summary-makemodel sc-font-bold sc-ellipsis"}).text.strip(None)
        car_name.append(name)
        price = store.find("span", {"class": "cldt-price sc-font-xl sc-font-bold"}).text.strip(None)
        car_price.append(price)
        year = store.find("li", {"data-type": "first-registration"}).text.strip(None)
        car_year.append(year)
        owners = store.find("li", {"data-type": "previous-owners"}).text.strip(None)
        car_owners.append(owners)
        condition = store.find("li", {"data-type": "offer-type"}).text.strip(None)
        car_owners.append(condition)
        kilometer = store.find("li", {"data-type": "mileage"}).text.strip(None)
        car_km.append(kilometer)

In [48]:
a = {'Car Name' : car_name,'Car Price' : car_price, 'Car Month and Year' : car_year, 'Mileage' : car_km, 'Condition' : car_km, 'Previous Owners' : car_owners}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()

df

,Car Name,Car Price,Car Month and Year,Mileage,Condition,Previous Owners
0,Tesla Roadster,"€ 129.950,-\nBTW verrekenbaar",03/2011,91.978 km,91.978 km,1 vorige eigenaar
1,Tesla Model X,"€ 84.999,-\nBTW verrekenbaar",09/2016,121.743 km,121.743 km,- (Vorige eigenaren)
2,Tesla Model X,"€ 84.579,-\nBTW verrekenbaar",09/2016,95.467 km,95.467 km,- (Vorige eigenaren)
3,Tesla Model X,"€ 84.579,-\nBTW verrekenbaar",09/2016,95.467 km,95.467 km,- (Vorige eigenaren)
4,Tesla Model X,"€ 80.000,-",08/2016,29.500 km,29.500 km,- (Vorige eigenaren)
...,...,...,...,...,...,...
1340,Piaggio Porter,"€ 5.000,-\nBTW verrekenbaar",12/2012,None,None,None
1341,Renault Kangoo,"€ 4.999,-\nBTW verrekenbaar",01/2014,None,None,None
1342,Renault Kangoo,"€ 4.950,-\nBTW verrekenbaar",09/2012,None,None,None
1343,smart forTwo,"€ 4.900,-\nBTW verrekenbaar",02/2014,None,None,None
1344,Overig,"€ 1.490,-\nBTW verrekenbaar",11/2016,None,None,None

In [41]:
df.to_csv(r'Documents/Master_Marketing_Analytics/dataprep\autoscout2.csv')

NameError: name 'csv_url' is not defined