In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from time import sleep

In [3]:
#Declaring the headers 
headers = {"Accept-Language": "en-US,en;q=0.5"}

#Declaring the list of empty variables, So that we can append the data overall
car_name = []
car_price = []
car_km  = []

#creating an array of values and passing it in the url for dynamic webpages
pages = np.arange(1,20,1)

In [4]:
#the whole core of the script
for page in pages:
    page = requests.get("https://www.autoscout24.nl/lst/?sort=price&desc=1&fuel=E&ustate=N%2CU&size=20&page="+str(page)+"&cy=NL&fregto=2016&fregfrom=2011&atype=C&fc=7&qry=&recommended_sorting_based_id=4b59d5cf-666e-4c05-a7cf-9e35fa04d91d&")
    soup = BeautifulSoup(page.text, 'html.parser')
    autoscout_data = soup.findAll('div', attrs = {'class': "cl-list-element cl-list-element-gap"})
    sleep(5)
    for store in autoscout_data:
        name = store.find("h2", {"class": "cldt-summary-makemodel sc-font-bold sc-ellipsis"}).text.strip(None)
        car_name.append(name)
        price = store.find("span", {"class": "cldt-price sc-font-xl sc-font-bold"}).text.strip(None)
        car_price.append(price)

In [5]:
a = {'Car Name' : car_name,'Car Price' : car_price}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()

df

           Car Name                      Car Price
0    Tesla Roadster  € 129.950,-\nBTW verrekenbaar
1     Tesla Model X   € 84.999,-\nBTW verrekenbaar
2     Tesla Model X   € 84.579,-\nBTW verrekenbaar
3     Tesla Model X   € 84.579,-\nBTW verrekenbaar
4     Tesla Model X   € 77.900,-\nBTW verrekenbaar
..              ...                            ...
328  Piaggio Porter    € 5.000,-\nBTW verrekenbaar
329  Renault Kangoo    € 4.999,-\nBTW verrekenbaar
330  Renault Kangoo    € 4.950,-\nBTW verrekenbaar
331    smart forTwo    € 4.900,-\nBTW verrekenbaar
332          Overig    € 1.490,-\nBTW verrekenbaar

[333 rows x 2 columns]

In [6]:
df.to_csv("autoscout2.csv")